//nav
.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    li{
        margin-right: 15px;

        a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: black;
            transition: .3s;
            // &.focus{
            //     color: rgb(82, 82, 255);
            //     border-bottom: rgb(82, 82, 255);
            // }

        }
        .active{
            color: #5252ff;
            border-bottom: 2px solid #5252ff;
            margin-bottom: 20px;
        }
    }
}